* {
  margin: 0;
  padding: 0;
  background-color: var(--bg-night);
  font-family: 'Instrument Serif', serif;
  overflow: hidden;
}

:root {
  --bg-night: #1d3557;
  --letter: #d6ccc2;
}

html {
  scroll-behavior: smooth;
}